# ---------------------------
# API & Auth
# ---------------------------
#JWT_SECRET_KEY=changeme
#JWT_EXPIRE=60

# ---------------------------
# S3 / Object Storage
# ---------------------------
## RW tokens for dataprep
export S3_DATAPREP_ACCESS_KEY=
export S3_DATAPREP_SECRET_KEY=
## Read only tokens for python api
export S3_API_ACCESS_KEY=
export S3_API_SECRET_KEY=
## Default is on Scaleway
#export S3_REGION=fr-par
#export S3_ENDPOINT_URL=https://s3.fr-par.scw.cloud

#export BUCKET_DOCS=a220-tech-docs
#export BUCKET_NC=a220-non-conformities

# ---------------------------
# LLM providers keys
# ---------------------------
#export OPENAI_API_KEY=
#export ANTHROPIC_API_KEY=
#export GOOGLE_API_KEY=
#export MISTRAL_API_KEY=

# ---------------------------
# Container registry settings (Scaleway)
# ---------------------------
#export IMAGE_NAME=nc-chatbot
#export NAMESPACE= 